[class*="_container"] {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  transition-duration: 0.2s;
}

html {
  scroll-behavior: smooth;
  background-color: #000000;
}

.active-link {
  color: #bdbdbd;
}

* {
  font-size: 24px;
  font-weight: 700;
  color: #fff;

  font-family: "Montserrat", sans-serif;
}
.section-headline {
  text-align: center;
  font-size: 50px;
  margin-bottom: 90px;
}

.open {
  display: flex !important;
}

header {
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Задаем полупрозрачный цвет фона (измените значение alpha для управления прозрачностью) */
  color: white; /* Цвет текста */

  width: 100%;
  position: fixed;
  padding: 15px 0; /* Добавьте необходимое заполнение */
  z-index: 99;
  backdrop-filter: blur(10px); /* Применяем размытие к элементам под header */

  .open {
    display: flex !important;
  }

  .header_container {
    display: flex;
    justify-content: space-between; /* Logo on the left and nav on the right */
    align-items: center; /* Vertically center the items */
    /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the header on the page */
    padding: 0 20px; /* Add horizontal padding as needed */
  }

  /* Style the logo */
  .logo {
    text-decoration: none; /* Remove underlines from the logo link */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust font-weight as needed */
    font-family: "Montserrat";
    color: white;
  }
  .logo:hover {
    transform: scale(0.9); /* Уменьшим элемент на 5% при наведении */
    transition: transform 0.2s ease-in-out; /* Добавим анимацию перехода */
  }

  /* Style the navigation menu */
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 70px;
  }

  nav ul li {
    margin-right: 20px; /* Add spacing between menu items */
  }

  nav ul li a {
    text-decoration: none; /* Remove underlines from menu links */
    color: white; /* Menu text color */
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat";
  }

  /* Center the menu items vertically */
  nav ul li a {
    display: flex;
    align-items: center;
  }

  /* Add hover effect for menu items (optional) */
  nav a:hover {
    color: #bdbdbd;
  }

  .header-contact-number {
    font-weight: 600;
  }

  // burger navigation
  .burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
  }

  .burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #faf6f2;
  }

  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #faf6f2;
    transition: all 0.3s ease 0s;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  /* Добавляем класс active для анимации иконки бургера */
  .burger.active span {
    transform: scale(0);
  }

  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  /* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
  @media (max-width: 1200px) {
    .burger {
      display: flex;
    }

    nav ul {
      display: none;
      flex-direction: column;
      position: fixed;

      top: 0;

      left: 0;
      right: 0;
      z-index: 50;
      padding: 50px 40px;
      background-color: rgba(0, 0, 0, 0.945);
      animation: burgerAnimation 0.4s;
    }

    nav ul {
      flex-direction: column;
      row-gap: 2em;
      margin: 0 auto;

      li {
        margin-bottom: 2em;
      }
    }
  }

  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.price-list {
  position: relative;

  height: 1250px;
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 1) 0%, rgb(27, 0, 4) 100%);
  .price-list_container {
    .slider {
      position: relative;
      width: 100%;
      overflow: hidden;
      .active {
        display: block;
      }

      .slider-arrow-next {
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);

        .next-slide {
          background-color: #282828d2;
          color: #ffffff;
          font-size: 40px;
          border-radius: 10px;
          border: none;
          padding: 1px 10px;
          cursor: pointer;

          transition-duration: 0.2s;
        }
        .next-slide:hover {
          background-color: #ffffff9a;
          color: #282828;
        }
      }
      .slider-arrow-prev {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        transition-duration: 0.3s;

        .prev-slide {
          background-color: #282828d2;
          box-shadow: 1.5px 1.5px 1.5px 1.5px #00000066;
          color: #ffffff;
          font-size: 40px;
          border-radius: 10px;
          border: none;
          padding: 1px 10px;
          cursor: pointer;
          transition-duration: 0.2s;
        }
        .prev-slide:hover {
          background-color: #ffffff9a;
          color: #282828;
        }
      }
    }
    position: relative;
    max-width: 1200px;

    padding-top: 6.5em;
    margin: 0 auto;
    .price-list-table {
      display: none;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;

      width: 80%;
      height: 900px;

      margin: 0 auto;

      border-radius: 16px;
      background: linear-gradient(
        135deg,
        rgb(19, 19, 19) 20%,
        hsla(350, 100%, 19%, 1) 100%
      );
      h2 {
        font-size: 50px;
        font-weight: 400;

        text-align: center;
        padding-top: 1em;
      }

      .price-div {
        width: 750px;
        display: flex;
        margin: 0 auto;
        margin-top: 2em;

        .left-part {
          position: absolute;

          ul {
            li {
              font-weight: 400;

              margin-bottom: 30px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              p {
                width: 600px;
                font-weight: 400;
                font-size: 22px;
              }

              span {
                justify-content: flex-end;
                font-weight: 400;
                font-size: 22px;
                margin-left: auto;
              }
            }
          }
        }
      }
    }

    .centered-button {
      text-align: center;
      margin-top: 70px; /* Отступ от верха кнопки до прайс-листа */
    }

    .hero-btn {
      padding: 20px 80px;
      font-size: 24px;
      font-weight: 400;
      border-radius: 6px;
      border: 1px solid #fff;
      background: rgba(232, 28, 45, 0.629);
      transition: box-shadow 0.3s ease;
      box-shadow: 0 0 20px 5px rgba(96, 52, 219, 0.7);
    }
    .hero-btn:hover {
      box-shadow: 0 0 10px 2px rgba(96, 52, 219, 0.7);
    }
  }
}

footer {
  background: rgb(30, 30, 30);

  padding: 3em 0;
  .footer_container {
    flex-direction: row; /* Расположим элементы внутри контейнера вертикально */
    align-items: center; /* Выравниваем элементы по центру по горизонтали */
    justify-content: space-between; /* Размещаем элементы с равным пространством между ними */

    .footer-links-div {
      .footer-logo {
        display: block; /* Убедитесь, что элемент блочный */
        text-align: center; /* Выравнивание текста по центру по горизонтали */
        margin: 0 auto; /* Установим margin для центрирования по горизонтали */
        margin-bottom: 2em;
        width: 100px;
      }
      .footer-logo:hover {
        transform: scale(0.9); /* Уменьшим элемент на 5% при наведении */
        transition: transform 0.2s ease-in-out; /* Добавим анимацию перехода */
      }

      gap: 3em;
      justify-content: space-between;

      .footer-links {
        justify-content: center;
        display: flex;
        gap: 2em;
        li {
          a {
            font-size: 18px;
            font-weight: 400;
          }
          a:hover {
            color: #989898;
          }
        }
      }

      .footer-social-links {
        justify-content: center;
        display: flex;
        margin-top: 2em;
        gap: 1em;
        li {
          a {
            img {
              transition-duration: 0.3s;
              background-color: #fff;
              border-radius: 50%;
              padding: 7px;
              width: 50px;
              height: 50px;
            }
          }
          a:hover {
            img {
              background-color: rgb(121, 23, 23);
              color: white;
            }
          }
        }
      }
    }

    .rights-reserved-span {
      font-weight: 400;
      font-size: 12px;
      display: flex;
      justify-content: center;
      margin-top: 3em;
    }
  }
}
